@{
    ViewBag.Title = "Gitty Up!";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<h2>Team Panda going code deep!</h2>
<hr />
<h1>This is the new About Section for our aweseome new ElevenNote project</h1>

<button>Save Me!!</button>
